body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  background: #fff;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.left-panel {
  background: #0f2a3e;
  color: #fff;
  padding: 40px 20px;
  position: relative;
  z-index: 1;
  
}

.right-panel {
  padding: 40px 20px;
  background: #fff;
}

@media only screen and (min-width: 992px) {
  .container {
    flex-direction: row;
    height: 100vh;
  }

  .left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 60px;
    clip-path: polygon(0 0, 100% 0, 0 100%); 
    height: 100%;
  }

  .right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo-title-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-img-login {
  width: 60%;
  height: auto;
  max-width: 150px;
}

.left-panel h1 {
  font-size: 2.5rem;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.left-panel h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.left-panel p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.hint {
  font-size: 0.9rem;
  color: #1d6985;
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.hint:hover {
  text-decoration: underline;
  opacity: 0.9;
}

.login-form input {
  padding: 12px;
  border-radius: 16px;
  border: none;
  background: #eaf5f3;
  font-size: 1rem;
  margin-bottom: 8px;
}

.login-form button {
  background: #1d6985;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 16px;
}

.back-home {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.3rem;
  color: #000;
  cursor: pointer;
}

.home-icon {
  width: 13%;
}
@media only screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    min-height: 100vh;
  }
  
  .left-panel {
    padding: 8px 15px;
    clip-path: none;
    height: 50px;
    background: #0f2a3e;
    display: flex;
    align-items: center;
  }
  
  .left-panel h2,
  .left-panel p {
    display: none;
  }
  
  .logo-title-row {
    margin: 0;
    padding: 0;
    gap: 8px;
    align-items: center;
  }
  
  .logo-img-login {
    width: 30px;
    margin-left: 0;
  }
  
  .left-panel h1 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 576px) {
  .left-panel {
    height: 45px;
    padding: 5px 10px;
  }
  
  .logo-img-login {
    width: 25px;
  }
  
  .left-panel h1 {
    font-size: 1rem;
  }
}