.header {
    background-color: #0f2a3e;
    color: white;
    padding: 1% 1%;
    font-family: sans-serif;
  }
  
  .header-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-img {
    width: 14%;
    height: 14%;
    padding-right: 3vh;
    padding-left: 1.7vh;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-icon {
    width: 32px;
    height: 32px;
    background-color: #0b3c5d;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .logo-text {
    font-family: Inter;
    letter-spacing: 1.5px;
    font-size: 3vh;
    line-height: 1.2;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 24px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .login-button {
    background-color: #0071c2;
    color: white;
    font-size: 2.2vh;
    font-weight: 500;
    font-family: Inter;
    padding: 6px 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #005fa3;
  }